@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins';
}

.backgoundGradient {
  background: linear-gradient(180deg, #C62368 0%, #831D50 23.96%, #621A44 41.67%, #3A1735 58.85%, #001220 100%);
}

.inputField {
  width: 100%;
  color: #C62368;
  outline: none;
  border: none;
}

.blurBackground {
  /* background: rgba(245, 240, 240, 0.54); */
  /* backdrop-filter: blur(20px); */
  border-radius: 20px;
}